.text-input {
    -fx-text-fill: #fafafa;
    -fx-background-color: #424142;
    -fx-border-color: #fafafa;
    -fx-border-radius: 10;
    -fx-padding: 10 20;
}

.text-input:focused {
    -fx-border-color: #4E6287;
}

.hyperlink:hover {
    -fx-text-fill: #b04ba0;
}

.button {
    -fx-background-color: #e06249;
    -fx-border-radius: 10;
    -fx-padding: 10 20;
}

.button:hover {
    -fx-translate-y: -5;
}

.button:pressed {
    -fx-background-color: #b04ba0;
}